# Ignore local environments
venv/
venv_backend/
.venv/
env/

# Ignore Python runtime files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore datasets (extremely heavy)
*dataset*/
dataset*/
downloads/
uploads/

# Ignore Git configurations
.git
.github
.gitignore
.dockerignore
